.controls {
	display: flex;
	flex-direction: column;

	padding-top: 2.5rem;

	gap: 0.5rem;
}

.row {
	display: flex;
	align-items: center;

	flex-wrap: wrap;
	column-gap: 0.5rem;

	&-utils {
		> *:not(:last-child) {
			margin-right: 0.8 rem;
		}
	}
}

.garage {
	padding-top: 2.5rem;

	&__title {
		font-size: 1.5rem;
	}
}
